/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
/* Header styles */
header {
    background: #0078d7;
    color: white;
    padding: 2em 1em;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header p {
    margin-top:0.5em;
    font-size: 1.2rem;
}
/* Main content */
main {
    padding: 0 1em;
    max-width: 800px;
    margin: 2em auto;
}
section {
    margin-bottom: 2em;
}
section h2 {
    font-size: 1.8rem;
    color:#0078d7;
    margin-bottom: 0.5em;
}
section p {
    font-size: 1rem;
    color: #555;
}
ul {
    padding-left: 1.5em;
}
li {
    margin: 0.5em 0;
}
a {
    color: #0078d7;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.social-icons {
    margin-top: 1em;
}
.social-icons a {
    color: #fff; 
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #0078d7; /* Change color on hover */
}
/* Active Projects Section */
#projects {
    margin-top: 2em;
    padding: 2em;
    background-color: #f9f9f9;
    text-align: center;
}
#projects h2 {
    margin-bottom: 1em;
    font-size: 2rem;
    color: #0078d7;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5em;
    max-width: 800px;
    margin: auto;
}

.project-grid a {
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}
.project-grid a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.project-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.project-grid p {
    margin-top: 0.5em;
    font-size: 1rem;
}
/* Footer styles */
footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: white;
    font-size: 0.9rem;
}